<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Name:</h3><span>{{.Name}}</span><br/><br/>
        <h3>Surname:</h3><span>{{.Surname}}</span><br/><br/>
        <h3>Birthday:</h3><span>{{.Message}}</span><br/>
        <p>Привет это мое тестовое сообщение!</p>
    </div>
</body>
</html>