<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/template/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/template/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/template/favicon/favicon-32x32.png">
    <link rel="manifest" href="/template/favicon/site.webmanifest">
    <title>Sending messages</title>
     
</head>
<body>
    <header>
       <ul class="navbar">
            <li>
                <a href="https://01.alem.school">Linkedin</a>
            </li>
            <li>
                <a href="https://01.alem.school/git/Alfarabi09">Github</a> 
            </li>
        </ul> 
    </header>
    <div class="container">
        <div class="title">
            <h1>Alfarabi09</h1>
        </div>
        <form method="POST" action="/send">
            <div class="submit">
                <input type="submit" value="Sending" />
            </div>
        </form>
        <form method="POST" action="/delay-send">
            <div class="submit">
                <input type="submit" value="delayed send" />
            </div>
        </form>
    </div>
</body>
</html>